
/* footer */
footer {
    background-color: #F5FAFD;
}
.copyright_text {
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.5;
    color: #dce8eb;
    margin-top: 1rem;
}
.footer_text img {
    width: 70px;
    height: auto;
}
.footer_block {
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.footer_block .menu__link {
    word-break: break-word;
    word-wrap: break-word;
    font-weight: 400;
    font-family: inherit;
    font-size: 0.875rem;
    list-style: none;
    box-sizing: border-box;
    font-style: normal;
    color: #fafafa !important;
}
.footer-col {
    padding: 3rem 1rem;
    flex: 0 0 33.333%;
}
.footer-col .menu__link {
    margin: 0 !important;
}

.footer_copyright {
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 40px;
}

.textwidget {
    text-align: left;
    box-sizing: border-box;
    margin-top: 0;
    font-style: normal;
    word-break: break-word;
    word-wrap: break-word;
    font-weight: 400;
    margin-bottom: 2rem !important;
    font-family: inherit;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #fafafa;
}
.footer-col {
    padding-right: 70px;
}
.footer-col p {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #333333;
}
.fotter_links li a {
    color: #40B6FB;
    text-transform: uppercase;
    font-weight: 500;
}
.fotter_links li {
    margin-bottom: 29px;
}
.fotter_links li:last-child {
    margin-bottom: 0px;
}

.copyright {
    text-align: center;
    padding-bottom: 1rem;
}
.footer-col h2 {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #333333;
}
.hashtag {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    padding: 20px 0 ;
}
.hashtag span {
    color: #40B6FB;
}
.footer_social_links {
    display: flex;
}
.social_link {
    margin-right: 24px;
}
.social_link:last-child {
    margin-right: 0px;
}
.social_link a img {
    width: 24px;
    height: auto;
}
.list_copyright {
    padding-top: 50px;
}
.list_copyright ul li a {
    color: #40B6FB;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 160%;
}
@media only screen and (max-width: 1024px) {
    footer {
        padding: 5rem 1rem;
    }
}
@media only screen and (max-width: 992px) {
    footer {
        padding: 5rem 2rem;
    }
    .footer_block {
        display: flex;
        flex-wrap: wrap;
    }
    .footer-col:first-child {
        margin-bottom: 30px;
    }
    .footer-col {
        flex: 0 0 50%;
    }

    .footer_block > .footer-col {
        padding: 1rem;
    }


}
@media (max-width: 767px) {
    .textwidget {
        text-align: center;
    }
    .footer__content {
        flex-wrap: wrap;
        padding: 30px 16px;
    }
    .footer_block_logo {
        flex: 0 0 100%;
        margin-bottom: 20px;
    }
    .footer_block_menu,
    .footer_block_menuhorizontal {
        flex:  0 0 50%;
    }
    .footer_block_menuhorizontal ul {
        flex-direction: column;
    }
    .footer_block_menuhorizontal ul li {
        margin-bottom: 15px;
    }

}
@media only screen and (max-width: 600px) {
    footer {
        padding: 5rem 1rem 1rem;
    }
    .footer_block {
        flex-direction: column;
    }
    .footer_block ul li {
        text-align: center;
    }
    .footer-item-title {
        text-align: center;
    }
    .footer_btn {
        text-align: center;
    }
    .copyright_text,
    .footer_text {
        text-align: center;
    }
    .hashtag {
        text-align: center;
    }
    .footer-col h2 {
        text-align: center;
    }
    .footer_social_links {
        justify-content: center;
    }
}
/* end footer */

